In [20]:
import numpy as np
import pandas as pd

In [240]:
df18 = pd.read_csv('players_18.csv')
df19 = pd.read_csv('players_19.csv')
df20 = pd.read_csv('players_20.csv')
df21 = pd.read_csv('players_21.csv')
df22 = pd.read_csv('players_22.csv')
df23 = pd.read_csv('players_23.csv')

C:\Users\LG\AppData\Local\Temp\ipykernel_1456\3127925025.py:1: DtypeWarning: Columns (81,82,83,84,85) have mixed types. Specify dtype option on import or set low_memory=False.
  df18 = pd.read_csv('players_18.csv')
C:\Users\LG\AppData\Local\Temp\ipykernel_1456\3127925025.py:5: DtypeWarning: Columns (25,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df22 = pd.read_csv('players_22.csv')

In [241]:
mask18_minus = set(df23.sofifa_id) - set(df18.sofifa_id)
mask18_same = set(df23.sofifa_id) & set(df18.sofifa_id)
new_df18 = pd.concat([df18[df18.sofifa_id.isin(mask18_same)],df23[df23.sofifa_id.isin(mask18_minus)]],axis=0)
new_df18.wage_eur = new_df18.wage_eur.fillna(min(new_df18.wage_eur))
new_df18.value_eur = new_df18.value_eur.fillna(min(new_df18.value_eur))
new_df18.set_index('sofifa_id',inplace=True)

In [242]:
mask19_minus = set(df23.sofifa_id) - set(df19.sofifa_id)
mask19_same = set(df23.sofifa_id) & set(df19.sofifa_id)
new_df19 = pd.concat([df19[df19.sofifa_id.isin(mask19_same)],df23[df23.sofifa_id.isin(mask19_minus)]],axis=0)
new_df19.wage_eur = new_df19.wage_eur.fillna(min(new_df19.wage_eur))
new_df19.value_eur = new_df19.value_eur.fillna(min(new_df19.value_eur))
new_df19.set_index('sofifa_id',inplace=True)

In [243]:
mask20_minus = set(df23.sofifa_id) - set(df20.sofifa_id)
mask20_same = set(df23.sofifa_id) & set(df20.sofifa_id)
new_df20 = pd.concat([df20[df20.sofifa_id.isin(mask20_same)],df23[df23.sofifa_id.isin(mask20_minus)]],axis=0)
new_df20.wage_eur = new_df20.wage_eur.fillna(min(new_df20.wage_eur))
new_df20.value_eur = new_df20.value_eur.fillna(min(new_df20.value_eur))

new_df20.set_index('sofifa_id',inplace=True)

In [244]:
mask21_minus = set(df23.sofifa_id) - set(df21.sofifa_id)
mask21_same = set(df23.sofifa_id) & set(df21.sofifa_id)
new_df21 = pd.concat([df21[df21.sofifa_id.isin(mask21_same)],df23[df23.sofifa_id.isin(mask21_minus)]],axis=0)
new_df21.wage_eur = new_df21.wage_eur.fillna(min(new_df21.wage_eur))
new_df21.value_eur = new_df21.value_eur.fillna(min(new_df21.value_eur))

new_df21.set_index('sofifa_id',inplace=True)

In [245]:
mask22_minus = set(df23.sofifa_id) - set(df22.sofifa_id)
mask22_same = set(df23.sofifa_id) & set(df22.sofifa_id)
new_df22 = pd.concat([df22[df22.sofifa_id.isin(mask22_same)],df23[df23.sofifa_id.isin(mask22_minus)]],axis=0)
new_df22.wage_eur = new_df22.wage_eur.fillna(min(new_df22.wage_eur))
new_df22.value_eur = new_df22.value_eur.fillna(min(new_df22.value_eur))

new_df22.set_index('sofifa_id',inplace=True)

In [246]:
df23.drop('wage_eru', axis=1,inplace = True)
df23.drop('value_eur', axis=1,inplace = True)
df23 = df23.rename(columns={'0':'wage_eur'})
df23 = df23.rename(columns={'value_bg':'value_eur'})
new_df23 = df23  	
new_df23.set_index('sofifa_id',inplace=True)

In [247]:
new_df18.to_csv('soccer18.csv')
new_df19.to_csv('soccer19.csv')
new_df20.to_csv('soccer20.csv')
new_df21.to_csv('soccer21.csv')
new_df22.to_csv('soccer22.csv')
new_df23.to_csv('soccer23.csv')

### 24년 가중이동평균

In [248]:
# 가중치
weight = [0.5,0.5 , 1,1, 2 ,1.5]

# 가중 이동평균 계산
for i in range(len(weight)) :
    result_potential24 = [eval('new_df' + str(18+i) + '.potential') * weight[i] for i in range(len(weight))]
    result_overall24 = [eval('new_df' + str(18+i) + '.overall') * weight[i] for i in range(len(weight))]
    result_value24 = [eval('new_df' + str(18+i) + '.value_eur') * weight[i] for i in range(len(weight))]
    result_wage24 = [eval('new_df' + str(18+i) + '.wage_eur') * weight[i] for i in range(len(weight))]

In [249]:
potential_24sum = 0
overall_24sum = 0
wage_24sum = 0
value_24sum = 0

for j in result_potential24:
    potential_24sum += j
for j in result_overall24:
    overall_24sum += j
for j in result_wage24:
    wage_24sum += j
for j in result_value24:
    value_24sum += j

In [250]:
potential_24 = potential_24sum / sum(weight)
overall_24 = overall_24sum / sum(weight)
wage_24 = wage_24sum / sum(weight)
value_24 = value_24sum / sum(weight)

In [251]:
new_df24=new_df23.copy()

In [252]:
new_df24.overall = overall_24
new_df24.value_eur = value_24
new_df24.wage_eur = wage_24 + np.round(np.random.randn(len(wage_24)) * 50)
new_df24.potential = potential_24

### 예측

In [253]:
#24년 예측
new_df24 = new_df24.iloc[:,2:]

In [254]:
new_df24.age = new_df24.age.apply(lambda x: x+1)

In [271]:
new_df24.to_csv('players_24.csv')

### 25년 가중이동평균

In [256]:
# 가중치
weight = [0.5,0.5 , 1,1, 2 ,1.5]

# 가중 이동평균 계산
for i in range(len(weight)) :
    result_potential25 = [eval('new_df' + str(19+i) + '.potential') * weight[i] for i in range(len(weight))]
    result_overall25 = [eval('new_df' + str(19+i) + '.overall') * weight[i] for i in range(len(weight))]
    result_value25 = [eval('new_df' + str(19+i) + '.value_eur') * weight[i] for i in range(len(weight))]
    result_wage25 = [eval('new_df' + str(19+i) + '.wage_eur') * weight[i] for i in range(len(weight))]

In [257]:
potential_25sum = 0
overall_25sum = 0
wage_25sum = 0
value_25sum = 0

for j in result_potential25:
    potential_25sum += j
for j in result_overall25:
    overall_25sum += j
for j in result_wage25:
    wage_25sum += j
for j in result_value25:
    value_25sum += j

In [258]:
potential_25 = potential_25sum / sum(weight)
overall_25 = overall_25sum / sum(weight)
wage_25 = wage_25sum / sum(weight)
value_25 = value_25sum / sum(weight)

In [259]:
new_df25 = new_df24.copy()

In [260]:
new_df25.age = new_df24.age.apply(lambda x: x+1)

In [261]:
new_df25.to_csv('soccer25.csv')