In [40]:
import pandas as pd
import numpy as np

In [41]:
df = pd.read_csv('23시즌롤드컵_최종데이터.csv')
df.set_index('Name',inplace=True)

In [42]:
ndf = df.iloc[:,-7:]
ndf

,baedang,result,meta_pick,total_pick,Gold Per Minute,Gold Differential per Minute,Avg. Tower Difference
Name,,,,,,,
Bilibili Gaming,10.00,0.77,292,636,1901.0,138.0,2.6
T1,8.00,0.68,320,593,1869.0,110.0,2.4
Gen.G eSports,5.00,0.96,279,557,1921.0,213.0,3.3
KT Rolster,13.00,0.98,288,546,1878.0,144.0,2.8
JD Gaming,2.25,0.97,248,515,1949.0,238.0,3.9
GAM Esports,501.00,0.37,265,482,1938.0,160.0,2.8
LNG Esports,7.00,0.54,286,491,1872.0,124.0,2.0
Weibo Gaming,13.00,0.35,234,440,1862.0,108.0,1.8
Dplus KIA,15.00,0.88,206,397,1838.0,92.0,1.6
G2 Esports,26.00,0.17,180,344,1950.0,196.0,3.0
MAD Lions,67.00,0.01,199,388,1822.0,-12.0,0.2
Team BDS,301.00,0.46,170,354,1809.0,0.0,-0.1
Cloud9,81.00,0.77,153,295,1885.0,140.0,2.3
Fnatic,51.00,0.02,179,303,1839.0,-14.0,-0.4
Team Liquid,201.00,0.27,136,249,1838.0,59.0,1.0
NRG,101.00,0.58,130,183,1823.0,-8.0,0.6

### 1/baedang으로 도박사이트의 우승 확률

In [43]:
ndf['baedang']=1/ndf.baedang

### 메타pick률 * 강팀일 확률 * 팀능력치 + 배당확률 => 예측값생성

In [44]:
ndf['meta']= ndf['meta_pick']/ndf['total_pick']

### 예측

In [45]:
# 한국,중국 1시드 -50, 마이너1시드 -200, 유럽1시드 -100, 북미 사실상1시드 -100으로 리그 독점및 불균형 값 조절
y = ndf['meta']*ndf['Gold Differential per Minute'] + (ndf['baedang']+ndf['result'])*ndf['Avg. Tower Difference'] + ndf['Gold Per Minute']
y[5]=y[5]-200
y[9]=y[9]-100
y[2]=y[2]-50
y[4]=y[4]-50
y[12]=y[12]-100

In [47]:
teamName = y.index
teamName

Index(['Bilibili Gaming', 'T1', 'Gen.G eSports', 'KT Rolster', 'JD Gaming',
       'GAM Esports', 'LNG Esports', 'Weibo Gaming', 'Dplus KIA', 'G2 Esports',
       'MAD Lions', 'Team BDS', 'Cloud9', 'Fnatic', 'Team Liquid', 'NRG'],
      dtype='object', name='Name')

In [48]:
y = (y - y.mean())/y.std()
y

Name
Bilibili Gaming    0.985749
T1                 0.452796
Gen.G eSports      1.204314
KT Rolster         0.843375
JD Gaming          1.756008
GAM Esports       -1.062367
LNG Esports        0.677286
Weibo Gaming       0.304829
Dplus KIA         -0.178581
G2 Esports         0.788628
MAD Lions         -1.226057
Team BDS          -1.327231
Cloud9            -0.587041
Fnatic            -1.008013
Team Liquid       -0.424345
NRG               -1.199349
dtype: float64

In [49]:
teamA = []
teamB = []
for _ in range(10000):
    if  y['KT Rolster'] + np.random.randn() > y['Dplus KIA'] + np.random.randn():
        teamA.append(1)
        teamB.append(0)
    else:
        teamA.append(0)
        teamB.append(1)

In [50]:
sum(teamA)/len(teamA), sum(teamB)/len(teamB)

(0.7585, 0.2415)

### DataBase 저장

In [51]:
import mariadb
import sys
yy = pd.DataFrame(y)
yy.reset_index(inplace = True)
yy.rename({0:'probality'},axis=1, inplace=True)

In [52]:
from sqlalchemy import create_engine
db_url = 'mariadb+mariadbconnector://root:root@127.0.0.1:3307/db_ai'
engine = create_engine(db_url)

In [53]:
db_config = {
        "user" : "root",
        "password":"root",
        "host":"localhost",
        "port":3307,
        "database":"db_ai"
}
table_name = '롤드컵팀_능력치정규화'

In [54]:
yy.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

16